@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
html {
  font-size: 10px;
}

body {
  color: #100A30;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 0;
}

.nav {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  margin: 0;
}
.nav__item {
  margin-left: 4.4rem;
}
.nav__item:first-child {
  margin-left: 0;
}
.nav__item:last-child {
  margin-left: 2.7rem;
}
.nav__link {
  color: #100A30;
  text-decoration: none;
}
.nav__btn {
  font-size: 1.4rem;
  background-color: #624DE3;
  color: white;
  text-decoration: none;
  padding: 1.6rem 2.6rem;
  border-radius: 0.6rem;
  position: relative;
}
.nav__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  transition: all 2s ease;
}
.nav__btn:hover:before {
  height: 49px;
}

.banner {
  text-align: center;
  background-color: #100A30;
  color: white;
  padding-top: 62px;
  position: relative;
  padding-bottom: 757px;
}
.banner__title {
  font-size: 5.5rem;
  max-width: 570px;
  margin: 0 auto 3.1rem;
}
.banner__img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -172px;
  margin: 0 auto;
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5.5rem;
}
.btn-group__btn {
  background-color: transparent;
  border: 1px solid white;
  font-size: 1.6rem;
  padding: 1.7rem 3.7rem;
  color: white;
  border-radius: 0.6rem;
  margin: 0 0.8rem;
  display: inline-block;
  position: relative;
}
.btn-group__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  transition: all 2s ease;
}
.btn-group__btn:hover:before {
  height: 52px;
}
.btn-group__btn-main {
  font-size: 1.5rem;
  background-color: #624DE3;
  border: 1px solid #624DE3;
  padding: 1.6rem 3.7rem;
}
.btn-group__btn-main:hover:before {
  height: 49px;
}

.products {
  margin-top: 150px;
  margin-bottom: 196px;
}
.products__title {
  font-size: 4.8rem;
  font-weight: 700;
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
}

.tarif {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}
.tarif-item {
  flex: 0 0 32%;
}
.tarif-item-01 .tarif-header {
  background-image: url(../images/tarif-bg-01.svg);
}
.tarif-item-01 .tarif-footer {
  background-color: rgba(16, 10, 48, 0.03);
}
.tarif-item-01 .tarif-list__item::before {
  background-image: url(../images/check01.svg);
}
.tarif-item-02 .tarif-header {
  background-image: url(../images/tarif-bg-02.svg);
}
.tarif-item-02 .tarif-footer {
  background-color: rgba(25, 199, 135, 0.05);
}
.tarif-item-02 .tarif-list__item::before {
  background-image: url(../images/check02.svg);
}
.tarif-item-03 .tarif-header {
  background-image: url(../images/tarif-bg-03.svg);
}
.tarif-item-03 .tarif-footer {
  background-color: rgba(252, 185, 53, 0.05);
}
.tarif-item-03 .tarif-list__item::before {
  background-image: url(../images/check03.svg);
}
.tarif-header {
  padding-top: 10rem;
  border-radius: 0.8rem 0.8rem 0 0;
  background-position: 0 center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tarif-info {
  background-color: #100A30;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 4rem 3rem 3.5rem;
  position: relative;
}
.tarif-info::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4.5rem;
  top: -4.5rem;
  left: 0;
  background-image: url(../images/item.svg);
}
.tarif-info__title {
  font-size: 2.4rem;
  font-weight: 400;
  margin: 0;
}
.tarif-info__title-2 {
  color: #19C787;
}
.tarif-info__title-3 {
  color: #FCB935;
}
.tarif-info__title::before {
  content: "";
  display: block;
  background-image: url(../images/logo-min.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 6.1rem;
  height: 1.6rem;
  margin-bottom: 1.3rem;
}
.tarif-info__price {
  font-size: 4.8rem;
  margin: 0;
}
.tarif-info__price span {
  font-size: 1.5rem;
}
.tarif-footer {
  border-radius: 0 0 0.8rem 0.8rem;
  padding: 2.4rem 3rem;
}
.tarif-list {
  list-style-type: none;
  padding-left: 0;
}
.tarif-list__item {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 3rem;
  margin-bottom: 1.4rem;
  font-size: 1.4rem;
  font-weight: 700;
}
.tarif-list__item::before {
  content: "";
  position: absolute;
  display: block;
  background-position: center;
  width: 2rem;
  height: 2rem;
  top: calc(50% - 1rem);
  left: 0;
}

.comments {
  margin-bottom: 121px;
}
.comments__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.comments__items .comments__title {
  flex: 0 0 45%;
  font-size: 4.8rem;
  font-weight: 700;
  max-width: 455px;
  margin: 0;
}
.comments__item {
  flex: 0 0 42%;
  padding: 40px;
  border-radius: 0.8rem;
  margin-bottom: 40px;
}
.comments__item-customer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.comments__item-customer .customer-message {
  margin: 0;
}
.comments__item .customer-message {
  font-size: 17px;
  color: #4C4764;
  line-height: 30px;
  margin: 0 0 20px 0;
}
.comments__item-persinfo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.comments__item-persinfo .customer-image {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}
.comments__item .customer-name,
.comments__item .post {
  font-weight: 700;
  color: #100A30;
  margin: 0;
}
.comments__item .customer-contact {
  color: #4C4764;
  font-size: 15px;
}
.comments__item .customer-name,
.comments__item .customer-contact {
  line-height: 24px;
  margin: 0;
}
.comments .item-1 {
  background-color: #FDEBEE;
}
.comments .item-2 {
  background-color: #E8E5FB;
}
.comments .item-3 {
  background-color: #E6F3FF;
}
.comments .item-4 {
  background-color: #E8FAF3;
}
.comments .item-5 {
  background-color: #FFF5E1;
}

footer {
  background-color: #F8F8F9;
  padding: 56px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #4C4764;
  font-size: 1.6rem;
}
.footer .social {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  margin-top: 24px;
}
.footer .social__item {
  margin-right: 10px;
}
.footer .social__link {
  color: #100A30;
  transition: all 0.3s;
}
.footer .social__link:hover {
  color: rgba(16, 10, 48, 0.6);
}
.footer .social__link i {
  font-size: 20px;
}
.footer__item .footer-logo {
  display: block;
  margin-bottom: 24px;
}
.footer__item-first {
  font-weight: 700;
  line-height: 30px;
}
.footer__item-first a {
  color: #100A30;
}
.footer__item-list {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}
.footer__item-list-item {
  line-height: 30px;
}
.footer__item-list-item a {
  color: #4C4764;
}

/*# sourceMappingURL=style.css.map */
