@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
   font-size: 10px;
}

body {
   color: $dark;
   font-size: 16px;
   font-family: 'Inter', sans-serif;
}

.container {
   max-width: 1232px;
   margin: 0 auto;
   padding: 0 15px;
}

a {
   text-decoration: none;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 33px 0;
}

.nav {
   list-style-type: none;
   padding-left: 0;
   display: flex;
   align-items: center;
   margin: 0;

   &__item {
      margin-left: 4.4rem;

      &:first-child {
         margin-left: 0;
      }

      &:last-child {
         margin-left: 2.7rem;
      }
   }

   &__link {
      color: $dark;
      text-decoration: none;
      transition: all 0.3s;

      &:hover {
         color: $purple;
      }
   }

   &__btn {
      font-size: 1.4rem;
      background-color: $purple;
      color: $white;
      text-decoration: none;
      padding: 1.6rem 2.6rem;
      border-radius: .6rem;
      position: relative;

      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 0;
         background: rgba(255, 255, 255, 0.3);
         border-radius: 5px;
         transition: all 2s ease;
      }

      &:hover:before {
         height: 49px;
      }
   }
}

.banner {
   text-align: center;
   background-color: $dark;
   color: $white;
   padding-top: 62px;
   position: relative;
   padding-bottom: 757px;

   &__title {
      font-size: 5.5rem;
      max-width: 570px;
      margin: 0 auto 3.1rem;
   }

   &__img {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -172px;
      margin: 0 auto;
   }
}

.btn-group {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 5.5rem;

   &__btn {
      background-color: transparent;
      border: 1px solid $white;
      font-size: 1.6rem;
      padding: 1.7rem 3.7rem;
      color: $white;
      border-radius: .6rem;
      margin: 0 .8rem;
      display: inline-block;
      position: relative;

      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 0;
         background: rgba(255, 255, 255, 0.3);
         border-radius: 5px;
         transition: all 2s ease;
      }

      &:hover:before {
         height: 52px;
      }

      &-main {
         font-size: 1.5rem;
         background-color: $purple;
         border: 1px solid $purple;
         padding: 1.6rem 3.7rem;

         &:hover:before {
            height: 49px;
         }
      }
   }
}

.products {
   margin-top: 150px;
   margin-bottom: 196px;

   &__title {
      font-size: 4.8rem;
      font-weight: 700;
      text-align: center;
      max-width: 650px;
      margin: 0 auto;
   }
}

.tarif {
   display: flex;
   justify-content: space-between;
   margin-top: 4rem;

   &-item {
      flex: 0 0 32%;

      &-01 {
         .tarif-header {
            background-image: url(../images/tarif-bg-01.svg);
         }

         .tarif-footer {
            background-color: rgba($color: $dark, $alpha: .03);
         }

         .tarif-list__item {
            &::before {
               background-image: url(../images/check01.svg);
            }
         }
      }

      &-02 {
         .tarif-header {
            background-image: url(../images/tarif-bg-02.svg);
         }

         .tarif-footer {
            background-color: rgba($color: #19C787, $alpha: .05);
         }

         .tarif-list__item {
            &::before {
               background-image: url(../images/check02.svg);
            }
         }
      }

      &-03 {
         .tarif-header {
            background-image: url(../images/tarif-bg-03.svg);
         }

         .tarif-footer {
            background-color: rgba($color: #FCB935, $alpha: .05);
         }

         .tarif-list__item {
            &::before {
               background-image: url(../images/check03.svg);
            }
         }
      }
   }

   &-header {
      padding-top: 10rem;
      border-radius: .8rem .8rem 0 0;
      background-position: 0 center;
      background-repeat: no-repeat;
      background-size: cover;
   }

   &-info {
      background-color: $dark;
      color: $white;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 4rem 3rem 3.5rem;
      position: relative;

      &::before {
         content: '';
         position: absolute;
         display: block;
         width: 100%;
         height: 4.5rem;
         top: -4.5rem;
         left: 0;
         background-image: url(../images/item.svg);
      }

      &__title {
         font-size: 2.4rem;
         font-weight: 400;
         margin: 0;

         &-2 {
            color: #19C787;
         }

         &-3 {
            color: #FCB935;
         }

         &::before {
            content: '';
            display: block;
            background-image: url(../images/logo-min.svg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 6.1rem;
            height: 1.6rem;
            margin-bottom: 1.3rem;
         }
      }

      &__price {
         font-size: 4.8rem;
         margin: 0;

         span {
            font-size: 1.5rem;
         }
      }
   }

   &-footer {
      border-radius: 0 0 .8rem .8rem;
      padding: 2.4rem 3rem;
   }

   &-list {
      list-style-type: none;
      padding-left: 0;

      &__item {
         position: relative;
         background-repeat: no-repeat;
         background-size: cover;
         padding-left: 3rem;
         margin-bottom: 1.4rem;
         font-size: 1.4rem;
         font-weight: 700;

         &::before {
            content: '';
            position: absolute;
            display: block;
            background-position: center;
            width: 2rem;
            height: 2rem;
            top: calc(50% - 1rem);
            left: 0;
         }
      }
   }
}

.comments {
   margin-bottom: 121px;

   &__items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .comments__title {
         flex: 0 0 45%;
         font-size: 4.8rem;
         font-weight: 700;
         max-width: 455px;
         margin: 0;
      }
   }

   &__item {
      flex: 0 0 42%;
      padding: 40px;
      border-radius: 0.8rem;
      margin-bottom: 40px;

      &-customer {
         display: flex;
         justify-content: space-between;
         align-items: flex-start;

         .customer-message {
            margin: 0;
         }
      }

      .customer-message {
         font-size: 17px;
         color: $blue;
         line-height: 30px;
         margin: 0 0 20px 0;
      }

      &-persinfo {
         display: flex;
         align-items: center;
         margin-bottom: 30px;

         .customer-image {
            width: 48px;
            height: 48px;
            margin-right: 16px;
         }
      }

      .customer-name,
      .post {
         font-weight: 700;
         color: $dark;
         margin: 0;
      }

      .customer-contact {
         color: $blue;
         font-size: 15px;
      }

      .customer-name,
      .customer-contact {
         line-height: 24px;
         margin: 0;
      }
   }

   .item-1 {
      background-color: #FDEBEE;
   }

   .item-2 {
      background-color: #E8E5FB;
   }

   .item-3 {
      background-color: #E6F3FF;
   }

   .item-4 {
      background-color: #E8FAF3;
   }

   .item-5 {
      background-color: #FFF5E1;
   }
}

footer {
   background-color: #F8F8F9;
   padding: 56px 0;
}

.footer {
   display: flex;
   justify-content: space-between;
   color: $blue;
   font-size: 1.6rem;

   .social {
      display: flex;
      list-style-type: none;
      padding-left: 0;
      margin: 0;
      margin-top: 24px;

      &__item {
         margin-right: 10px;
      }

      &__link {
         color: $dark;
         transition: all 0.3s;

         &:hover {
            color: rgba(16, 10, 48, 0.6);
         }

         i {
            font-size: 20px;
         }
      }
   }

   &__item {
      .footer-logo {
         display: block;
         margin-bottom: 24px;
      }

      &-first {
         font-weight: 700;
         line-height: 30px;

         a {
            color: $dark;
         }
      }


      &-list {
         padding-left: 0;
         list-style-type: none;
         margin: 0;

         &-item {
            line-height: 30px;

            a {
               display: inline-block;
               position: relative;

               &::after {
                  content: '';
                  display: block;
                  position: absolute;
                  width: 0;
                  bottom: 0;
                  height: 1px;
                  margin: 2px 0;
                  left: 0;
                  background-color: #4C4764;
                  transition: all 0.4s ease-in 0s;
               }

               &:hover:after {
                  width: 100%;
               }
            }
         }

         &-item a {
            color: $blue;
         }
      }
   }
}